/* jrscpStyleInfo.css
	Copyright 2019, 2020  Pacific Northwest University of Health Sciences
    
    jrscpStyleInfo.css is part of "PNWU Microscope", which is an internet web-based program that
		displays digitally-scanned microscopic specimens.
	"PNWU Microscope" is free software:  you can redistribute it and/or modify it under the terms of
		the GNU General Public License as published by the Free Software Foundation, either version 3
		of the License, or any later version.  See <https://www.gnu.org/licenses/gpl-3.0.html>
 	"PNWU Microscope" is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    	without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
        See the GNU Public License for more details.
	The "PNWU Microscope" consists of two parts a Viewer and a SlideBox.  This file 
    	(jrscpStyleMain.css) is part of the Viewer.  Currently, the Viewer consists 
		of 17 principal files and other supplementary files:
    	- one HTML file.
        - two cascading style sheets (including jrscpStyleInfo.css)
        - 11 javascript files
        - three PHP files
	Questions concerning "PNWU Microscope" may be directed to:
    	James Rhodes, PhD
        Pacific Northwest Univesity of Health Sciences
        200 University Parkway
        Yakima WA 98901 USA

/*	jrscpStyleInfo contains the styles for Info boxes and Change Setting boxes.
		This file was created on 4/17/20 as a spin-off from jrscpStyleMain.css, which had become too
		large to be easily managed.
*/
@charset "utf-8";



		/*  ********************************** */
		/*       styles for info tables        */
		/*  ********************************** */


.infoBox {
	position: absolute;
	z-index: 3;
	overflow:hidden;
	top: 5px;
	left: 360px;
	width: 572px;
	background-color: rgb(255,240,240);
	border: outset;
	border-width: 8px;
	border-color: rgb(224,128,128);
	box-shadow: 8px 10px 4px 2px rgba(64,32,32,0.5);
	margin: 0px;
	}

   /* renamed 4/17/20; formerly .aboutHdrClass */
.infoHdrClass {
	position: relative;
	width: 100%;
	height: 45px;
	padding: 0px;
	background-color: rgb(255,240,240);
	font-size: 32px;
	font-family:Calibri, Arial, Helvetica, sans-serif;
	}

.infoButton {
	position:relative;
	float: left;
	height: 30px;
	width: 140px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:outset;
	border-width: 5px;
	border-color: rgb(192,192,192);
	background-color: rgb(232,232,232);
	margin-right: 1px;
	cursor:pointer;
		/* text not-selectable */
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
    -webkit-user-select: none; /* Safari 3.1+ */
    user-select: none; /* Standard syntax */
	-khtml-user-drag: none; 
	-o-user-drag: none; 
	-moz-user-drag: none; 
	-webkit-user-drag: none; 
	user-drag: none; 
	}

.infoButton:hover {
	background-color: rgb(232,208,208);
	}
	
.infoButton:active {
	border: inset;
	border-color: rgb(226,160,160);
	color: rgb(160,0,0);
	}

.infoCloseBtn{
	float:right; 
	width: 25px; 
	height: 25px; 
	padding: 1px;
	padding-top: 2px;
	margin-right: 0px; 
	border-width: 3px	
	}

.infoContent {
	position: absolute;
	box-sizing: border-box;
/*	overflow: auto;  */
	width: 100%;
	height: 100%;
	background-color: rgb(232,192,192);
	border: 1px solid black;
	top: 85px;
	font-size: 12px;
	}

.infoSubContent {
	position: absolute;
	top: 0px;
	height: 30px;
	width: 100px;
	font-size: 12px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	}

.infoMvBtn {
	position:absolute;
	float:left;
	height: 45px;
	width: 45px;
	border: 1px solid black;
	background-color: rgb(232,232,248);
	font-size: 11px;
	color: black;
	text-align:center;
	padding: 0px;
/*  No select or drag text */
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
    -webkit-user-select: none; /* Safari 3.1+ */
    user-select: none; /* Standard syntax */
	-khtml-user-drag: none; 
	-o-user-drag: none; 
	-moz-user-drag: none; 
	-webkit-user-drag: none; 
	user-drag: none;
	}

.infoMvBtn:hover {
	background-color: rgb(208,208,236);
	cursor:move;
	}

.infoMvBtn:active {
	background-color: rgb(128,128,192);
	color: white;
	cursor:move;
	}


.tabCache {
	table-layout: fixed;
	border-collapse:collapse;
	width: 188px;
	}

tr.tabCache {
	background-color: rgb(255,240,240);
	}

tr.tabCache:hover {
	background-color: rgb(238,228,228);
	}

th.tabCache {
	height: 20px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	padding-left: 4px;
	padding-right: 5px; 
	padding-top: 0px;
	padding-bottom: 0px;
	border-right: 1px solid black;
	}

td.tabCache{
	height: 20px;
	text-align:right;
	vertical-align:middle;
	padding-left: 1px; 
	padding-right: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	}

.tabSVw {
	table-layout: fixed;
	border-collapse:collapse;
	width: 1000px;
	}

tr.tabSVw {
	background-color: rgb(255,240,240);
	}

tr.tabSVw:hover {
	background-color: rgb(238,228,228);
	}

th.tabSVw {
	height: 20px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	padding-left: 2px;
	padding-right: 2px; 
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	}

td.tabSVw{
	height: 20px;
	text-align:right;
	vertical-align:middle;
	padding-right: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	}

	


		/*  ********************************** */
		/*       styles for About box        */
		/*  ********************************** */

.aboutBoxClass{
	position: fixed;
	display: none;
	z-index: 3;
/*	left & top have to be set by in HTML/javascript for box to move */
/*	width (700px) must be set in HTML/javascript to center 'close' button */
	min-height: 150px;
	background-color: rgb(248,226,226);
	border: 9px outset rgb(224,128,128);
	box-shadow: 8px 10px 4px 2px rgba(64,32,32,0.5);
	padding: 0px;
	}
	
.aboutHdrTxtClass {
	position:absolute;
	top: 0px;
	left:0px;
	width:100%;
	height: 45px;
	border-bottom: 5px solid rgb(224,128,128);
	font-size: 32px;
	font-weight:bold;
	text-align:center
	}

.aboutBodyClass {
	display: block;
	border: 1px solid black;
	background-color: rgb(255,240,240);
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	padding: 0px;
	}

.aboutBodyTxtClass {
	display: inline-block; 
	padding: 4px 8px 0px 20px;
	}

.aboutButton {
/*	position:fixed;  4/17/20 comment out */
	float:none;
	left: 100px;
	display:inline-block;
	margin: 3px;
	}
	
.aboutBotBox {
	height: 36px;
	width: 100%; 
	background-color: rgb(224,128,128); 
	border: 1px solid black; 
	}



		/*  ********************************** */
		/*       style for overlay <div>       */
		/*  ********************************** */

.infoOverlayClass{
	position: absolute;
	display:none;
	z-index: 4;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 0.7;
	}


		/*  ********************************** */
		/*       styles for warning box        */
		/*  ********************************** */

.warnBoxClass {
	position:fixed;
	display:none;
	z-index: 5;
	border: 7px ridge rgb(208,0,0);
	background-color: rgb(255,232,232);
	top: 100px;
	left: 300px;
	width:300px;
	min-height: 100px;
	padding: 0px;
	}
 
.warnTxtBoxClass {
	display: block;
	padding: 0px 10px 10px;
	text-align:left;
	font-size:20px;
		/* text not-selectable */
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
    -webkit-user-select: none; /* Safari 3.1+ */
    user-select: none; /* Standard syntax */
	-khtml-user-drag: none; 
	-o-user-drag: none; 
	-moz-user-drag: none; 
	-webkit-user-drag: none; 
	user-drag: none; 
 	}

.warnHdrClass {
	width: 100%;
	height: 28px;
	padding: 0px;
	}
	

.warnHdrTxtClass {
	position:absolute;
	padding:0px;
	top: -2px;
	left:0px;
	width:100%;
	font-size: 24px;
	text-align:center;
		/* text not-selectable */
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
    -webkit-user-select: none; /* Safari 3.1+ */
    user-select: none; /* Standard syntax */
	-khtml-user-drag: none; 
	-o-user-drag: none; 
	-moz-user-drag: none; 
	-webkit-user-drag: none; 
	user-drag: none; 
	}
	

		/*  ********************************************** */
		/*       styles for Change Setting 'infoBox        */
		/*  ********************************************** */

/* chgMenuClass is the style sheet for the "menu" (<div> holding submit & close buttons  */
/*	This is a .chg* class rather than an .info class because this <div> is somewhat different */
/*		from the <div> at the botton of infoBoxes that holds the infoBox " close buttons */
.chgMenuClass {
	position:relative;
	box-sizing:border-box;
	width: 100%;
	height: 40px;
	background-color:rgb(232,192,192);
	border:5px solid rgb(224,224,224);
	}

.chgExtraBxClass {
	position:relative;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid black;
	background-color: rgb(255,240,240);
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
		/* text not-selectable */
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
    -webkit-user-select: none; /* Safari 3.1+ */
    user-select: none; /* Standard syntax */
	-khtml-user-drag: none; 
	-o-user-drag: none; 
	-moz-user-drag: none; 
	-webkit-user-drag: none; 
	user-drag: none; 
	}

.chgContentBxClass {
	position:relative;
/*	box-sizing: border-box; */
	width: 100%;
	margin-top: 6px;
/*	border-top: 1px solid black; */
/*	border-bottom: 1px solid black; */
	}

.chgColumnClass {
	position:relative;
	float:left;
	width: 273px;
	height: 100%;
	background-color: rgb(240,208,208);
	border: 1px solid black;
/*	border-left: 1px solid black;
	border-right: 1px solid black; */
	margin-left: 5px;
	}


.chgItem {
	position: relative;
	width: 263px;
	height: 20px;
	padding: 5px;
	background-color: rgb(255,240,240);
	border-bottom: 1px solid black;
/*	border-left: 1px solid black;
	border-right: 1px solid black;  */
	font-family: Arial, Helvetica, sans-serif; 
/*	font-family: "Calibri", Geneva, sans-serif; */
	font-size: 14px;
		/* text not-selectable */
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
    -webkit-user-select: none; /* Safari 3.1+ */
    user-select: none; /* Standard syntax */
	-khtml-user-drag: none; 
	-o-user-drag: none; 
	-moz-user-drag: none; 
	-webkit-user-drag: none; 
	user-drag: none; 
	}

.chgItem:hover {
	background-color: rgb(244,228,228);
	}

.chgDivider {
	position:relative;
	height: 3px;
	padding: 0px;
	width: 273px;
	background-color: rgb(192,128,128);
	}

.chgInputBx {
	box-sizing: border-box;
	position:absolute;
	display: block;
	margin: 1px;
	margin-right: 0px;
	border: 1px solid black;
	top: 0px;
	right: 35px;
	height: 27px;
	width: 51px;  /* 4/16/20 change from 'width' to 'min-width' */
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	padding: 2px 5px 0px 0px;
	text-align:right;
	color:black;
	background-color: white;}

.chgStepper {
	display:block;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 25px;
	width: 15px;
	margin: 1px;
	margin-right:3px;
	border: 1px solid black;
	border-left: 0px;
	}
	
.chgStepperBtn{
	position:absolute;
	margin: 0px;
	padding: 0px 0px 1px 0px;
	width: 100%;
	height: 50%;
	font-size:7px;
	background-color: rgb(232,232,232);
	border-color: rgb(192,192,192);
	border-style:outset;
	border-width:2px;
	text-align:center;
	}

.chgStepperBtn:hover {
	background-color: rgb(224,200,200);
	border-color: rgb(192,160,160);
	cursor:pointer;
	}

.chgStepperBtn:active {
	background-color: rgb(216,168,168);
	border-color: rgb(192,160,160);
	border-style:inset;
	color: rgb(184,0,0);
	cursor:pointer;
	}

	/*  ********************************************************************** */
	/*                           chgUsrRespBx Classes                          */
	/*	The User-Response Box is displayed when the user chooses a value for   */
	/*	a "Change Setting" value that is illegal (i.e. < .absMin or > .absMax) */
	/*	or generates a warning (i.e. < .warnMin or > .warnMax).                */
	/*  ********************************************************************** */
	
.chgUsrRespClass {
	display: none;
	position: absolute;
	z-index: 5;
	overflow: hidden;
	top: 80px;
	left: 300px;
	width: 390px;
	background-color: rgb(255,240,240);
	border: outset;
	border-width: 8px;
	border-color: rgb(224,128,128);
	box-shadow: 8px 10px 4px 2px rgba(64,32,32,0.5);
	margin: 0px;
	}

.chgUsrRespContentClass{
	position:relative;
	box-sizing:border-box;
	height: 100%;
	width: 100%;
	background-color: rgb(255,240,240);
	border: 1px solid black;
	}

.chgUsrRespSubGrpClass {
	position: relative;
	box-sizing: border-box;
	min-height: 34px;
	width: 100%;
	padding: 1px 2px 1px 8px;
	border-bottom: 1px solid black;
	vertical-align:middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	}
	
.chgVcenter {  /* from w3schools.com; vertically centers object, must be position:absolute */
 	margin: 0;
	position:absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
 	}

 .chgUsrButton {
	position:relative;
	float: left;
	height: 30px;
	width: 160px;
	font-size:14px;
	border:outset;
	border-width: 5px;
	border-color: rgb(192,192,192);
	background-color: rgb(232,232,232);
	margin-right: 1px;
	cursor:pointer;
	}
.chgUsrButton:hover {
	background-color: rgb(232,208,208);
	}
.chgUsrButton:active {
	border: inset;
	border-color: rgb(226,160,160);
	color: rgb(160,0,0);
	}


